body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-white{
    background-color: white;
}

.bg-red{
    background-color: red;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    display: block;
}

.w-100{
    width: 100%;
}

.w-fit{
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.margin-bottom{
    margin-bottom: 15px;
}